{% extends 'template/template.twig' %}


{% block content %}

    <div class="navigation">
        <div class="container">
            <div class="logo"><img src="public/images/logo1.png" width="210" alt=""></div>
            <nav>
                <div class="col">
                    <div class="tof"><img src="public/images/arta.jpg" alt=""></div>
                    <h2 class="info">Adama R. T. Aidara</h2>
                    <div class="social-link"><a target="blank" href="https://github.com/artathiate"><img src="public/images/github.png" width="60%"></a></i></div>
                    <div class="social-link"><a target="blank" href="https://www.linkedin.com/in/arta-aidara-262573171/"><img src="public/images/linkedin.png" width="65%"></a></div>
                    <div class="social-link"><a target="blank" href="https://twitter.com/arta199302"><img src="public/images/twitter.png" width="60%"></a></div>
                </div>
                <div class="col">
                    <div class="tof"><img src="public/images/aliou.jpg" alt=""></div>
                    <h2 class="info">Aliou 'Also' Sow</h2>
                    <div class="social-link"><a target="blank" href="https://github.com/Also8292"><img src="public/images/github.png" width="60%"></a></i></div>
                    <div class="social-link"><a target="blank" href="https://www.linkedin.com/in/aliou-sow/"><img src="public/images/linkedin.png" width="65%"></a></div>
                    <div class="social-link"> <a target="blank" href="https://twitter.com/sowalils1992"><img src="public/images/twitter.png" width="60%"></a></div>
                </div>
                <div class="col">
                    <div class="tof"><img src="public/images/kalika.jpg" alt=""></div>
                    <h2 class="info">Papa Kalidou Mbodji</h2>
                    <div class="social-link"><a target="blank" href="https://github.com/kalika2015"><img src="public/images/github.png" width="60%"></a></i></div>
                    <div class="social-link"><a target="blank" href="https://www.linkedin.com/in/kalidou-papa-mbodji-b28723157/"><img src="public/images/linkedin.png" width="65%"></a></div>
                    <div class="social-link"> <a target="blank" href="https://twitter.com/kalidou2015"><img src="public/images/twitter.png" width="60%"></a></div>
                </div>
                <div class="col">
                    <div class="tof"><img src="public/images/ndeye.jpg" alt=""></div>
                    <h2 class="info">Ndeye Ndieunde Leye</h2>
                    <div class="social-link"><a target="blank" href="https://github.com/ndeye21"><img src="public/images/github.png" width="60%"></a></i></div>
                    <div class="social-link"><a target="blank" href="https://www.linkedin.com/in/ndeye-leye-16745ab1/"><img src="public/images/linkedin.png" width="65%"></a></div>
                    <div class="social-link"> <a target="blank" href="https://twitter.com/LeyeNdeye"><img src="public/images/twitter.png" width="60%"></a></div>
                </div>
            </nav>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            <div class="menu-trigger">
                <div class="bar bar--1"></div>
                <div class="bar bar--2"></div>
                <div class="bar bar--3"></div>

            </div>

        </div>
    </div>

    <div class="input-contain">
        <div class="circle circle-quill">
            <img src="public/images/logo1.png" alt="" width="110"><br>
        </div>
        <div class="circle circle-paper">
            <img src="public/images/logo1.png" alt="" width="110"><br>
        </div>
        <br><br>
        <h2 class="info"></h2>
        <h2 class="success"></h2>
        {# <form action="/" method="post" class="dropzone" id="my-awesome-dropzone"></form> #}
        <form method="post" class="sub-form" enctype='multipart/form-data'>
            <p class="success-dialog">
                Votre tranfért <br>
                de fichiers a réussi<br>
                avec succés.<br>
                Vous recevrez un mail <br>
                aprés réception de vos fichiers. <br>
                <a href="">Nouvelle envoie</a>
            </p>
            <input type="file" name="file" id="new_file" multiple onkeyup="valid_btn()">
            {# <input name="upload[]" type="file" multiple="multiple" /> #}
            <input type="text" placeholder="Votre Nom" name="name" id="nom" required="required" maxlength="50" onkeyup="valid_btn()">
            <input type="email" placeholder="Votre adresse email" id="transmitter_email" name="transmitter_email" required="required" maxlength="50" onkeyup="valid_btn()">
            <input type="email" id="firstname" name="receiver_email" placeholder="Email du destinataire" required maxlength="50" onkeyup="valid_btn()">
            <textarea placeholder="Message" id="message" name="message" onkeyup="valid_btn()"></textarea>
            <div class="allsub">
                {# <div class="submit">Transférer</div> #}
                <button type="submit" name="submitBtn" id="transfert_btn" class="submit">Transférer</button>
                <script>
                    document.querySelector('#transfert_btn').disabled = true;
                </script>
                <div class="submit-under"></div>
            </div>
            <svg class="loader" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 55 55" enable-background="new 0 0 55 55" xml:space="preserve">
             <circle fill="none" stroke-linecap="round" stroke="#B29EAC" stroke-width="2" stroke-miterlimit="10" cx="27.583" cy="27.334" r="26.583"/>
       </svg>
       <svg class="loader2" x="0px" y="0px" width="55px" height="55px" viewBox="0 0 55 55" enable-background="new 0 0 55 55" xml:space="preserve">
            <circle fill="none" stroke-linecap="round" stroke="#B29EAC" stroke-width="2" stroke-miterlimit="10" cx="27.583" cy="27.334" r="26.583"/>
       </svg>
        </form>
    </div><!--input-contain-->

{% endblock %}

